@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


:root {
  --font-primary: 'DM Sans', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --color-dark-blue: #00273A;
  --color-gray: #626161;
}

#root{
  position: relative;
}


.font-dm-sans {
  font-family: var(--font-primary);
}

.font-inter {
  font-family: var(--font-secondary);
}



.section-heading {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 2%;
  text-align: center;
  text-transform: capitalize;
}

.section-subheading {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-gray);
}



.bg-primary-gradient {
  background: linear-gradient(85.9deg, #C44558 62.74%, #FF7F7F 95.09%);
}


.shadow-primary {
  box-shadow: 0px 0px 40px 2px #C4455840;
}

.border-gradient {
  border-radius: 9999px; /* fully rounded */
  padding: 1px; 
  background: linear-gradient(90deg, #FFA68D 0.03%, #FD3A84 100%);
}

.border-gradient-inner {
  border-radius: 9999px;
  background: white; /* inner background */
  height: 100%;
  width: 100%;
}



